.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.tab-content {
  background-color: #ffffff;
}
.tab-content div {
  display: none;
}
.tab-content .active {
  display: block;
}
.tabs .active {
  background-color: #ffffff;
  color: #4d5bf9;
}
